<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Post a Bulletin</title>
    <meta name="description" content="Big Brother Comics is your number one source for comics, board games, and Magic the Gathering in Sacramento!">
    <meta name="author" content="Gavin Baxter | https://gavbax99.github.io/UCDPortfolio/">
    <link rel="shortcut icon" href="./assets/images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/bulletin.css" />

</head>

<body>

    <div id="wrapper">


        <!-- FORM START -->
        <div class="flex-full flex-col bulletin-form-container">

            <div class="section-title" style="margin-bottom: 20px !important;">
                <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0); font-size: 38px !important;">Post a Bulletin</h1>
                <div style="height: 4px; background-color: red; width: 100px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto;"></div>
            </div>

            <div class="bulletin-form-width">

                <div class="bulletin-description">
                    Post a bulletin to the main Bulletin Board on <span style="color:red; font-weight: 600; text-decoration: underline;"><a href="/">bigbrothercomics.com</a></span>
                </div>
    

                <!-- form -->
                <div class="flex-full flex-col bulletin-form-box">
                    <div class="input-title">
                        Title
                    </div>
                    <input class="bulletin-input bi-title" type="text" required="true" name="title" maxlength="80" placeholder="Title*"/>
                    <div class="input-title">
                        Author (Default = "STAFF")
                    </div>
                    <input class="bulletin-input bi-author" type="text" name="author" maxlength="30" placeholder="Author (optional)"/>
                    <div class="input-title">
                        Image URL (ending in .jpg or .png)
                    </div>
                    <input class="bulletin-input bi-img" type="text" required="true" name="img" maxlength="200" placeholder="Img URL*"/>
                    <div class="input-title">
                        Message (1000 char max)
                    </div>
                    <textarea class="bulletin-input bi-body" type="text" rows="12" required="true" name="body" maxlength="1000" placeholder="Message*"></textarea>
                </div>
    
                <!-- submit buttons -->
                <div class="flex-full flex-row bulletin-submit-buttons">

                    <div class="submit-button sb-preview">
                        Preview
                    </div>

                    <div class="submit-button sb-submit">
                        Submit
                    </div>
                </div>
    
                <div style="width: 100%; text-align: center; margin-bottom: 8px; font-size: 16px;">or</div>

                <!-- hide button -->
                <div class="flex-full flex-row bulletin-hide-button">

                    <div class="submit-button sb-hide">
                        Hide Bulletin Board
                    </div>

                </div>

    
                <div class="bulletin-description">
                    Hit "Preview" to see what it will look like live in the Bulletin Board replica below. Once it looks good, hit "Submit"! If you would like to hide the Bulletin Board on bigbrothercomics.com until the next post is made, simply click the "Hide Bulletin Board" button; the next time you want to post a bulletin, post like normally and the Bulletin Board will show back up.
                </div>
    
                <div class="bulletin-description">
                    NOTE: you can't edit your bulletins; if you are unhappy with the current bulletin, just make another to replace it.
                </div>

            </div>


        </div>
        <!-- FORM START -->


        <!-- BULLETIN START -->
        <section id="bulletin-nav" class="bulletin">

            <div class="section-title">
                <div class="bulletin-preview">
                    PREVIEW!!!
                </div>
                <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Bulletin Board</h1>
                <div style="height: 4px; background-color: red; width: 205px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto; margin-bottom: 15px;"></div>
                <div class="bulletin-posted-date mont">This bulletin posted on <span style="font-weight: 700; color: red; text-shadow: .5px .5px rgb(160, 0, 0);">5/15/2019</span></div>
            </div>

            <div class="flex-full flex-row bulletin-section">

                <div class="bulletin-img-box">
                    <div class="bulletin-img"></div>
                </div>

                <div class="bulletin-text-box">
                    <div class="flex-full flex-col bulletin-text-top">
                        <div class="bulletin-title">This is a title.</div>
                        <div class="bulletin-author mont">Posted by <span style="font-weight: 700;">Staff</span></div>
                    </div>

                    <div class="flex-full flex-col bulletin-text-bottom mont font-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ratione iusto dolorum laborum placeat magnam rerum! Ab nobis minus aut magnam, dolores pariatur, eligendi non delectus blanditiis provident quidem voluptatibus.<br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, labore porro vel exercitationem, facilis nisi debitis quaerat temporibus eveniet pariatur esse voluptatum, sit deserunt voluptatem tempora suscipit dicta alias perspiciatis!
                    </div>
                </div>

            </div>

        </section>
        <!-- BULLETIN END -->
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/bulletin.js"></script>

</body>

</html>