<!DOCTYPE html>
<html lang="en">
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<!-- BIG BROTHER IS WATCHING YOU -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Big Brother Comics</title>
    <meta name="description" content="Big Brother Comics is your number one source for comics, board games, and Magic the Gathering in Sacramento!">
    <meta name="author" content="Gavin Baxter | https://gavbax99.github.io/UCDPortfolio/">
    <link rel="shortcut icon" href="./assets/images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.css" />

</head>

<body>

    <div id="wrapper">
        
        <!-- PRELOADER START -->
        <div class="flex-full flex-col preloader">
            <div class="flex-full flex-col preloader-content">
                <img src="./assets/images/loading_pacman_white.png">
            </div>
        </div>
        <!-- PRELOADER END -->


        <!-- HAM NAV START -->
        <div class="nav-overlay">
            <ul class="nav-ul">
                <li class="nav-button" data-name="events-nav">EVENT SCHEDULE</li>
                <li class="nav-button" data-name="comics-nav">COMICS</li>
                <li class="nav-button" data-name="games-nav">TABLE TOP GAMES</li>
                <li class="nav-button" data-name="contact-nav">CONTACT</li>
                <a target="_blank" href="https://www.facebook.com/BigBrotherComics/"><li style="margin-bottom: 0 !important;"><img src="./assets/images/facebook.svg" width="35" style="display: inline;"></li></a>
            </ul>
        </div>
        <!-- HAM NAV END -->


        <!-- HEADER START -->
        <header>

            <!-- PART OF THE PRELOADER -->
            <div class="header-preloader">
                <div class="flex-full flex-row header-preloader-bar">
                    <div class="flex-full flex-row header-preloader-logo">
                        <img src="./assets/images/bb_logo_white_box.svg"alt="BB logo">
                        <div class="header-bb-title">
                            Big<br>
                            Brother<br>
                            Comics
                        </div>
                    </div>
                </div>
            </div>
            <!-- PART OF THE PRELOADER END -->

            <div class="header-side-box side-box-left">
                <div style="height: 70px; width: 100%; background-color: rgb(255, 0, 0); content: '';"></div>
                <div class="trapezoid-left"></div>
            </div>

            <div class="header-side-box side-box-right">
                <div style="height: 70px; width: 100%; background-color: rgb(255, 0, 0); content: '';"></div>
                <div class="trapezoid-right"></div>
            </div>

            <div class="flex-full flex-row header-hi-bar">
                <div class="flex-full flex-row header-bb-logo">
                    <img src="./assets/images/bb_logo_white_box.svg" alt="BB logo">
                    <div class="header-bb-title">
                        Big<br>
                        Brother<br>
                        Comics
                    </div>
                </div>

                <div class="flex-full flex-row nav-hider" style="padding: 0 20px; height: 100%;">
                    <ul class="flex-full flex-row nav">
                        <li class="nav-button" data-name="events-nav">EVENT SCHEDULE</li>
                        <li class="nav-button" data-name="comics-nav">COMICS</li>
                        <li class="nav-button" data-name="games-nav">TABLE TOP GAMES</li>
                        <li class="nav-button" data-name="contact-nav">CONTACT</li>
                    </ul>
                </div>
            
            </div>
            
            <img class="header-camera camera-left" src="./assets/images/camera.gif">
            <img class="header-camera camera-right" src="./assets/images/camera.gif">

            <div class="header-low-bar"><!-- Nothing goes here; this bar is for decoration--></div>
        </header>
        <!-- HEADER END -->

        <!-- HAMBURGER -->
        <div class="flex-full flex-row hamburger">
            <img class="ham-img" src="./assets/images/hamburger_opened.svg">
        </div>


        <!-- HERO START -->
        <section class="hero">

            <img width="100%" src="./assets/images/website-banner.jpg" alt="hero image">

        </section>
        <!-- HERO END -->

        <!-- BULLETIN START -->
        <section id="bulletin-nav" class="bulletin">

            <div class="section-title">
                <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Bulletin Board</h1>
                <div style="height: 4px; background-color: red; width: 205px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto; margin-bottom: 15px;"></div>
                <div class="bulletin-posted-date mont">This bulletin posted on <span style="font-weight: 700; color: red; text-shadow: .5px .5px rgb(160, 0, 0);">5/15/2019</span></div>
            </div>

            <div class="flex-full flex-row bulletin-section">

                <div class="bulletin-img-box">
                    <div class="bulletin-img"></div>
                </div>

                <div class="bulletin-text-box">
                    <div class="flex-full flex-col bulletin-text-top">
                        <div class="bulletin-title">This is a title.</div>
                        <div class="bulletin-author mont">Posted by <span style="font-weight: 700;">Staff</span></div>
                    </div>

                    <div class="flex-full flex-col bulletin-text-bottom mont font-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ratione iusto dolorum laborum placeat magnam rerum! Ab nobis minus aut magnam, dolores pariatur, eligendi non delectus blanditiis provident quidem voluptatibus.<br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, labore porro vel exercitationem, facilis nisi debitis quaerat temporibus eveniet pariatur esse voluptatum, sit deserunt voluptatem tempora suscipit dicta alias perspiciatis!
                    </div>
                </div>

            </div>

        </section>
        <!-- BULLETIN END -->


        <!-- WEEKLY EVENTS START -->
        <section id="events-nav" class="weekly-events">

            <div class="weekly-superman">
                <img width="69" src="./assets/images/superman.svg">
            </div>

            <div class="section-title">
                <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Event Schedule</h1>
                <div style="height: 4px; background-color: red; width: 200px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto;"></div>
            </div>

            <div class="flex-full flex-row weekly-events-section">
                <div class="weekly-events-description font-p">
                    <p>Big Brother Comics hosts weekly events. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus deleniti natus neque magnam totam. <br><br>
                    
                    Nisi, alias possimus praesentium eaque explicabo consectetur. Beatae deserunt voluptate cupiditate consectetur iusto, non aliquid corporis.</p>

                    <a target="_blank" href="https://www.facebook.com/pg/BigBrotherComics/events/">
                        <div class="weekly-events-facebook">
                            <div class="weekly-events-facebook-text">
                                See more events on 
                                <div style="display: inline; position: relative;">
                                    <img src="./assets/images/facebook.svg" width="20" style="display: inline; position: relative; top: 4px; left: 2px;">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="weekly-events-list-contaniner">
                    <!-- Slick nav buttons -->
                    <div class="events-button events-prev"><i class="fas fa-caret-left"></i></div>
                    <div class="events-button events-next"><i class="fas fa-caret-right"></i></div>

                    <!-- Slick slider start -->
                    <div class="weekly-events-list">

                        <!-- Slides are called "singles" -->
                        <!-- Add or remove singles as needed, just change the day/title/list content - Slick will figure out the rest -->
                        <!-- one important change is where the image url is stored - in the ".events-{day}-img" class in our CSS file -->

                        <!-- Single Start -->
                        <div class="flex-full flex-col weekly-events-single">
                            <!-- ".events-wednesday-img" controls the URL of the image; to create a new slide, make a new class and assign it your image -->
                            <div class="weekly-events-single-img events-wednesday-img">
                                <div class="weekly-events-img-date">Wednesdays</div>
                            </div>
                            <div class="flex-full flex-col weekly-events-single-description">
                                <h3 style="margin-bottom: 8px;">Commander Night</h3>
                                <ul class="weekly-event-ul">
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Magic: the Gathering</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>6:30PM - 10:00PM</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Free to enter</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Commander format</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Casual - All skill levels welcome!</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single End --> 

                        <!-- Single Start -->
                        <div class="flex-full flex-col weekly-events-single">
                            <div class="weekly-events-single-img events-thursday-img">
                                <div class="weekly-events-img-date">Thursdays</div>
                            </div>
                            <div class="flex-full flex-col weekly-events-single-description">
                                <h3 style="margin-bottom: 8px;">Thursday Night Modern</h3>
                                <ul class="weekly-event-ul">
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Magic: the Gathering</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>6:30PM - 10:00PM</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>$6 entry, 3 rounds</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>2-1 wins $10 store credit</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>3-0 wins $20 store credit</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single End --> 

                        <!-- Single Start -->
                        <div class="flex-full flex-col weekly-events-single">
                            <div class="weekly-events-single-img events-friday-img">
                                <div class="weekly-events-img-date">Fridays</div>
                            </div>
                            <div class="flex-full flex-col weekly-events-single-description">
                                <h3 style="margin-bottom: 8px;">Friday Night Magic</h3>
                                <ul class="weekly-event-ul">
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Magic: the Gathering</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>6:30PM - 10:00PM</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>$15 entry, 3 rounds</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Booster draft (keep what you draft)</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Booster pack per match win</li>
                                    <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>3-0 wins an additional pack!</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single End -->
                            
                        <!-- Single (TWO COLUMN) Start -->
                        <div class="flex-full flex-col weekly-events-single">
                            <div class="weekly-events-single-img events-saturday-img">
                                <div class="weekly-events-img-date">Saturdays</div>
                            </div>
                            <div class="flex-full flex-row weekly-events-saturday-description">

                                <!-- First column -->
                                <div class="flex-full flex-col saturday-event saturday-left">
                                    <h3 style="margin-bottom: 8px;">Standard Showdown</h3>
                                    <ul class="weekly-event-ul">
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Magic: the Gathering</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>12:00PM - 4:00PM</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>$5 entry, 3 rounds</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Standard format</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Booster pack per match win</li>
                                    </ul>
                                </div>

                                <!-- Second column right aligned on large screens -->
                                <div class="flex-full flex-col saturday-event saturday-right saturday-right-desktop">
                                    <h3 style="margin-bottom: 8px;">Board Game Night</h3>
                                    <ul class="weekly-event-ul">
                                        <li>4:00PM - 8:00PM<i class="fas fa-angle-left" style="padding-left: 5px;"></i></li>
                                        <li>Free to enter<i class="fas fa-angle-left" style="padding-left: 5px;"></i></li>
                                        <li>Meet people, play games!<i class="fas fa-angle-left" style="padding-left: 5px;"></i></li>
                                        <li><strong>Stay-n-Play Discount:</strong></li>
                                        <li>20% off board game purchase if</li>
                                        <li>you stay and play it that night!</li>
                                    </ul>
                                </div>

                                <!-- Second column goes under the first column and becomes left aligned on small screens/mobile -->
                                <div class="flex-full flex-col saturday-event saturday-left saturday-right-mobile" style="margin-bottom: 0 !important;">
                                    <h3 style="margin-bottom: 8px;">Board Game Night</h3>
                                    <ul class="weekly-event-ul">
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>4:00PM - 8:00PM</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Free to enter</li>
                                        <li><i class="fas fa-angle-right" style="padding-right: 5px;"></i>Meet people, play games!</li>
                                        <li><strong>Stay-n-Play Discount:</strong></li>
                                        <li>20% off board game purchase if you stay and play it that night!</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- Single (TWO COLUMN) End --> 

                    </div>
                    <!-- Slick slider end -->

                </div>
            </div>            
        </section>
        <!-- WEEKLY EVENTS END -->


        <!-- NEW RELEASES START -->
        <section id="comics-nav" class="new-releases">

                <div class="section-title" style="margin-bottom: 20px !important;">
                    <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Comics</h1>
                    <div style="height: 4px; background-color: red; width: 90px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto;"></div>
                </div>

                <!-- WIDGET START -->
                <!-- https://retailerservices.diamondcomics.com/OnlineTools/NewReleasesSiteWidget -->
                <!-- The Daimond widget is full of bullshit and it doesnt scale for mobile -->
                <!-- The good news is that I am the greatest programmer that has ever lived, and I have found a solution -->
                <!-- They only give your account one of these links- even if you change the widget settings, the link stays the same -->
                <!-- However, if you uncheck either of the two boxes at the top of the widget settings, it will give you another link that stays the same even if you change the widget settings -->
                <!-- It's as if you can build multiple widgets, but each one must have a different combination of those boxes checked -->
                <!-- So first one is with both boxes checked, 5 columns. The second is bottom box unchecked, 2 columns -->
                <div class="new-releases-desktop">
                    <script type="text/javascript" src="https://retailerservices.diamondcomics.com/Widgets/NewReleasesComics/ae58be1caa7848e986e9f597424e3529"></script>
                </div>
                
                <div class="new-releases-mobile">
                    <script type="text/javascript" src="https://retailerservices.diamondcomics.com/Widgets/NewReleasesComics/36bfe8fff03c4508a7d5e1e44c62f7a1"></script>
                </div>
                <!-- WIDGET END -->

                <div class="new-releases-hidden-text mont">I LOVE COMICS</div>

        </section>
        <!-- NEW RELEASES END -->


        <!-- TABLE GAMES START -->
        <section id="games-nav" class="table-games">

                <div class="table-games-peice">
                    <img width="30" src="./assets/images/game_piece.svg">
                </div>

                <div class="section-title">
                    <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Table Top Games</h1>
                    <div style="height: 4px; background-color: red; width: 180px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto;"></div>
                </div>

                <div class="flex-full flex-row table-games-container"> <!--medium shift to row->col -->

                    <div class="flex-full flex-row table-games-box"> <!--small shift to row->col -->
                        <div class="flex-full flex-col table-games-item">
                            <div class="flex-full flex-col tg-item-icon">
                                <img src="./assets/images/board_games.svg" width="120">
                            </div>
                            <div class="flex-full flex-col tg-item-title">
                                <span style="display: inline-block;">Board Games</span>
                                <div class="tg-title-underline"></div>
                            </div>
                            <div class="tg-item-list mont">
                                <ul>
                                    <li>Massive selection</li>
                                    <li>Classics &amp; new releases</li>
                                    <li>From 2 player to many</li>
                                    <li>Over 1,000 titles in stock!</li>
                                </ul>
                            </div>
                        </div>

                        <div class="flex-full flex-col table-games-item">
                            <div class="flex-full flex-col tg-item-icon">
                                <img src="./assets/images/mtg.svg" width="120">
                            </div>
                            <div class="flex-full flex-col tg-item-title">
                                <span style="display: inline-block;">Magic: The Gathering</span>
                                <div class="tg-title-underline"></div>
                            </div>
                            <div class="tg-item-list mont">
                                <ul>
                                    <li>Massive selection</li>
                                    <li>Classics &amp; new releases</li>
                                    <li>From 2 player to many</li>
                                    <li>Over 1,000 titles in stock!</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end small shift -->

                    <div class="flex-full flex-row table-games-box"> <!--small shift to row->col -->
                        <div class="flex-full flex-col table-games-item">
                            <div class="flex-full flex-col tg-item-icon">
                                <img src="./assets/images/dnd.svg" width="120">
                            </div>
                            <div class="flex-full flex-col tg-item-title">
                                <span style="display: inline-block;">Dungeons & Dragons</span>
                                <div class="tg-title-underline"></div>
                            </div>
                            <div class="tg-item-list mont">
                                <ul>
                                    <li>Massive selection</li>
                                    <li>Classics &amp; new releases</li>
                                    <li>From 2 player to many</li>
                                    <li>Over 1,000 titles in stock!</li>
                                </ul>
                            </div>
                        </div>

                        <div class="flex-full flex-col table-games-item">
                            <div class="flex-full flex-col tg-item-icon">
                                <img src="./assets/images/party_games.svg" width="120">
                            </div>
                            <div class="flex-full flex-col tg-item-title">
                                <span style="display: inline-block;">Party Games</span>
                                <div class="tg-title-underline"></div>
                            </div>
                            <div class="tg-item-list mont">
                                <ul>
                                    <li>o Massive selection</li>
                                    <li>o Classics &amp; new releases</li>
                                    <li>o From 2 player to many</li>
                                    <li>o Over 1,000 titles in stock!</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end small shift -->

                </div> <!--end medium shift -->

        </section>
        <!-- TABLE GAMES END -->


        <!-- CONTACT START -->
        <section id="contact-nav" class="contact">

                <div class="section-title" style="margin-bottom: 20px !important;">
                    <h1 class="main-rgb-txt" style="margin-bottom: 2px; text-shadow: 1px 1px rgb(160, 0, 0);">Contact</h1>
                    <!-- <div style="height: 4px; background-color: red; width: 100px; box-shadow: 1px 1px rgb(160, 0, 0); margin: 0 auto;"></div> -->
                </div>

                <div class="flex-full flex-row contact-info">

                    <div class="flex-full flex-col contact-numbers">
                        <div class="contact-info-headline" style="letter-spacing: 1px;">Data</div>
                        <div class="contact-info-underline"></div>

                        <ul class="flex-full flex-col contact-numbers-list mont">
                            
                            <a href="tel:916-441-6461"><li class="flex-full flex-row cn-li">
                                <img class="contact-icon ci-mobile" src="./assets/images/contact_phone.svg">
                                (916) 441 6461 
                                <img class="contact-icon ci-desktop" src="./assets/images/contact_phone.svg">
                            </li></a>
                            <a href="mailto:bigbrothercomics@gmail.com"><li class="flex-full flex-row cn-li">
                                <img class="contact-icon ci-mobile" src="./assets/images/contact_email.svg">
                                bigbrothercomics@gmail.com 
                                <img class="contact-icon ci-desktop" src="./assets/images/contact_email.svg">
                            </li></a>
                            <a target="_blank" href="https://www.facebook.com/pg/BigBrotherComics/"><li class="flex-full flex-row cn-li" style="padding-bottom: 0 !important;">
                                <img class="contact-icon ci-mobile" src="./assets/images/contact_facebook.svg">
                                Big Brother on Facebook 
                                <img class="contact-icon ci-desktop" src="./assets/images/contact_facebook.svg">
                            </li></a>
                        </ul>
                    </div>

                    <div class="flex-full flex-col contact-hours">
                        <div class="contact-info-headline">Hours</div>
                        <div class="contact-info-underline"></div>

                        <div class="flex-full flex-row contact-hours-day-container">
                            <div>
                                <ul class="flex-full flex-col contact-hours-list-week mont">
                                    <li><span class="contact-hours-list-day">M</span></li>
                                    <li><span class="contact-hours-list-day">T</span></li>
                                    <li><span class="contact-hours-list-day">W</span></li>
                                    <li><span class="contact-hours-list-day">Th</span></li>
                                    <li><span class="contact-hours-list-day">F</span></li>
                                    <li><span class="contact-hours-list-day">S</span></li>
                                    <li><span class="contact-hours-list-day">Su</span></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="flex-full flex-col contact-hours-list-times mont">
                                    <li>. . . . . . &nbsp;11am - 8pm</li>
                                    <li>. . . . . . &nbsp;11am - 8pm</li>
                                    <li>. . . . . . &nbsp;11am - 10pm</li>
                                    <li>. . . . . . &nbsp;11am - 10pm</li>
                                    <li>. . . . . . &nbsp;11am - 10pm</li>
                                    <li>. . . . . . &nbsp;11am - 8pm</li>
                                    <li>. . . . . . &nbsp;11am - 6pm</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="flex-full flex-row contact-section">

                    <div class="map-container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe class="iframe-width" id="gmap_canvas" src="https://maps.google.com/maps?q=big%20brother%20comics&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>


                    <div class="flex-full flex-col contact-form-container">
                        <form id="gform" class="gform clearfix" method="POST" action="https://script.google.com/macros/s/AKfycbw4UxWYM3MK9aP2APOE68dsblRGHmGClFACk3aryQ/exec">

                            <input id="input-name" name="name" class="input-little input-name-fix" type="text" required="true" placeholder="Name*">
                            <input id="input-email" name="email" class="input-little" type="text" required="true" placeholder="Email*">
                            <textarea id="input-message" name="message" class="input-big" rows="12" required="true" type="text" placeholder="Message*"></textarea>

                            <!-- reCaptcha by Google; gotta wait until this is deployed to bigbrothercomics.com -->
                            <!-- <div class="g-recaptcha" id="rcaptcha" data-sitekey="6LfQ-qQUAAAAALD034ZYvztLIc63ox4GS4YlqPMk"></div>
                            <span id="captcha" style="color:red"></span>  -->

                            <input id="submitButton" type="submit" value="Send Message" class="input-submit">
                            <div class="loading-message" style="display:none;"></div>
                            <div id="message-sent" class="ty-margin thankyou_message" style="display:none;">
                                Message sent!
                            </div>
    
                        </form>
                    </div>



                </div>
        </section>
        <!-- CONTACT END -->

    
        <!-- CONSOLE START -->
        <div class="flex-full flex-row console-container">

            <form onSubmit="return false;" class="flex-full flex-row console-form">
                <input class="console-text" type="text" name="text" maxlength="54" placeholder="ENTER COMMAND">
                <input class="console-button" type="button" name="button" value="RUN">
            </form>

            <!-- COLOR TRIANGLES -->
            <div class="console-side-box console-side-box-left">
                <img src="./assets/images/console_triangle.svg" width="30">
            </div>
            <div class="console-side-box console-side-box-right">
                <img src="./assets/images/console_triangle.svg" width="30">
            </div>

        </div>
        <!-- CONSOLE END -->


        <!-- FOOTER START -->
        <footer class="flex-full flex-row footer-class">
            
            <div class="flex-full flex-col footer-text-section">
                <!-- Year automatically injected from JS -->

                <div class="footer-text">
                    <div>© BIG BROTHER COMICS <span>XXXX</span></div>
                    <div style="width: 145px; height: 2px; background-color: #fff; margin-top: 2px; box-shadow: 1px 1px #181818;"></div>
                    <div class="footer-about-bb mont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia exercitationem ullam sequi provident deserunt animi vero here repudiandae cum eaque. Id est odio maiores sequi deserunt re excepturi tempore suscipit itaque repellendus. This is some more text because we need to fill another line. </div>
                </div>
            </div>

            <div class="flex-full flex-row footer-logo">
                <div class="flex-full flex-col footer-contact">
                    <a href="tel:916-441-6461">
                        <div class="footer-phone mont">916 441 6461</div>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/pg/BigBrotherComics/">
                        <div class="flex-full flex-row footer-facebook mont">
                            Facebook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img class="footer-fb-logo" src="./assets/images/facebook_f.svg">
                        </div>
                    </a>
                </div>

                <img class="footer-bb-logo" src="./assets/images/bb_logo_white_full.svg">
            </div>
            
            <div class="footer-console">
                <img src="./assets/images/bigbrother.png" width="40">
            </div>
        </footer>
        <!-- FOOTER END -->

        <div class="console-padding">
            <div style="height: 50%; width: 100%;"></div>
            <div style="height: 50%; width: 100%; background-color: rgb(28,28,28);"></div>
        </div>

    </div> <!-- wrapper end -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="./assets/js/slick.js"></script>
    <script src="./assets/js/main.js"></script>
    <script data-cfasync="false" type="text/javascript" src="assets/js/gform-custom-send.js"></script>

    <!-- reCaptcha by Google; gotta wait until this is deployed to bigbrothercomics.com -->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>

        function get_action(form) 
        {
            var v = grecaptcha.getResponse();
            if(v.length == 0)
            {
                document.getElementById('captcha').innerHTML="You can't leave Captcha Code empty";
                return false;
            }
            else
            {
                document.getElementById('captcha').innerHTML="Captcha completed";
                return true; 
            }
        }

    </script> -->

</body>

</html>