/* @@@@@@@@@@@@@@@@@@ CSS STARTING TEMPLATE @@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@   UPDATED:3/18/2019   @@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* ******************   TABLE OF CONTENTS   ****************** */
/* *********************************************************** *\

xi. RESET
xii. TOOLS
1. SETUP
2. HEADER
3. ...
Y. OVERRIDES
Z. MEDIA QUERIES

/* https://via.placeholder.com/350x150 */

/* xi. **************         RESET         ****************** */
/* *********************************************************** */

img,legend{border:0}
legend,td,th{padding:0}
html{height:100%;box-sizing: border-box;font-family: 'Barlow', sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
pre,textarea{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}
table{border-spacing:0;border-collapse:collapse}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{height:100%;line-height:1;margin:0 !important;}
ol,ul{list-style:none; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0;}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a,a:hover,a:focus{color:inherit;text-decoration:none}
img{display: block;}
p{margin-block-start: 0; margin-block-end: 0;}


/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

@font-face {font-family: myFont; src: url("../font/big_noodle_titling.ttf");}
@font-face {font-family: console; src: url("../font/terminal.ttf");}
@font-face {font-family: comicSans; src: url("../font/comic_sans.TTF");}

.clearfix::after{content: ""; display: block; clear: both;}

.flex-full{display: flex; justify-content: center; align-items: center;}
.flex-row{flex-direction: row;}
.flex-col{flex-direction: column;}

.dark-txt {color: #0e0e0e}
.dark-bg {background-color: #0e0e0e}

.grey-txt {color: #353434}
.grey-bg {background-color: #353435}

.lite-grey-txt {color: #CCCCCC}
.lite-grey-bg {background-color: #CCCCCC}

.lite-txt {color: #ffffff}
.lite-bg {background-color: #ffffff}

.main-rgb-txt {color: #ff0000}
.main-rgb-bg {background-color: #ff0000}
.dark-rgb-txt {color: rgb(160, 0, 0)}
.dark-rgb-bg {background-color: rgb(160, 0, 0)}
.lite-rgb-txt {color: #ff3333}
.lite-rgb-bg {background-color: #ff3333}

h1,h2,h3,h4 {font-family: myFont; margin:0; padding:0;}

h1{font-size:56px; letter-spacing: 1px;}
h2{font-size:36px;}
h3{font-size:26px;}
h4{font-size:16px; line-height: 22px; font-weight: 400;}

.fs1{font-size: 12px;}
.fs2{font-size: 18px;}
.fs3{font-size: 24px;}
.fs4{font-size: 32px;}
.fs5{font-size: 40px;}

.fw-300 {font-weight: 300}
.fw-400 {font-weight: 400}
.fw-500 {font-weight: 500}
.fw-600 {font-weight: 600}
.fw-700 {font-weight: 700}
.fw-800 {font-weight: 800}
.fw-900 {font-weight: 900}

.font-p {letter-spacing: .5px; line-height: 26px; font-size: 16px; font-family: 'Montserrat', sans-serif;}

.uppercase {text-transform: uppercase}
.mont {font-family: 'Montserrat', sans-serif;}


/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

body {
    background-color: rgb(39, 39, 39);
    font-size: 12px; 
    color: rgb(24, 24, 24); 
    font-family: myFont;
    overflow: hidden;
}

#wrapper {
    max-width: 1440px; 
    position: relative; 
    margin: 0 auto; 
    overflow: hidden; 
    background-color: #fff;
}

.section-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}

.preloader {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1003;
    background-color: #3a3a3a;
    transition: all 0.4s cubic-bezier(.75, 0, .78, .38); 
    -webkit-transition: all 0.4s cubic-bezier(.75, 0, .78, .38); 
    -moz-transition: all 0.4s cubic-bezier(.75, 0, .78, .38); 
}

.preloader-content img {
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/* 2. **************         NAV OVERLAY         ****************** */
/* *********************************************************** */

.nav-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1005;
}

.nav-ul {
    color: #fff;
    font-size: 34px;
}

.nav-overlay li {
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.nav-overlay a {
    transition: .3s;
}


/* 2. **************         HEADER         ****************** */
/* *********************************************************** */

header {
    position: fixed;
    width: 1440px;
    top: 0;
    z-index: 1004;
}

.header-preloader {
    z-index: 1006;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.4s;
}

.header-preloader-bar {
    height: 70px;
    background-color: rgb(255, 0, 0);
    justify-content: flex-start;
}

.header-preloader-logo {
    padding: 0 20px;
    height: 100%;
}

.header-preloader-logo img {
    height: 50px;
}

.header-bb-title {
    padding-left: 8px;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px rgb(160, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: myFont;
}

.header-hi-bar {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    justify-content: space-between;
}

.header-low-bar {
    width: 100%;
    height: 15px;
    background-color: rgb(160, 0, 0);
}

.header-side-box {
    position: absolute;
    top: 0;
    width: 20px;
}

.side-box-left {
    left: -20px;
}

.side-box-right {
    right: -20px;
}

.header-bb-logo{
    padding: 0px 20px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.header-bb-logo img {
    position: relative;
    transition: .3s;
    height: 50px;
}

.trapezoid-left {
	border-bottom: 15px solid rgb(39, 39, 39);
	border-right: 20px solid rgb(160, 0, 0);
	height: 0;
	width: 0;
}

.trapezoid-right {
	border-bottom: 15px solid rgb(39, 39, 39);
	border-left: 20px solid rgb(160, 0, 0);
	height: 0;
	width: 0;
}

.header-camera {
    position: absolute;
    top: 75px;
    width: 60px;
}

.camera-left {
    left: 10px;
}

.camera-right {
    right: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.nav {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.nav li {
    position: relative;
    padding: 10px 20px;
    text-shadow: 1px 1px rgb(160, 0, 0);
    transition: .3s;
    cursor: pointer;
}

.hamburger {
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    right: 5px;
    cursor: pointer;
    z-index: 9999;
    padding: 10px;
    transition: .5s;
}

.ham-img {
    width: 50px;
}


/* 3. **************          HERO          ****************** */
/* *********************************************************** */

.hero {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-top: 85px;
}


/* 3. **************          BULLETIN          ****************** */
/* *********************************************************** */

.bulletin {
    position: relative;
    width: 100%;
    background-color: rgb(240,240,240);
    padding: 60px 80px;
}

.bulletin-posted-date {
    font-size: 16px;
}

.bulletin-section {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.bulletin-img-box {
    width: 40%;
    padding-bottom: 25%;
    position: relative;
    box-shadow: 0 5px 15px rgba(39, 39, 39, .15);
}

.bulletin-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/website-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.bulletin-text-box {
    width: 56%;
    position: relative;
}

.bulletin-text-top {
    width: 100%;
    border-radius: 5px 5px 0 0;
    /* border: 1px solid rgba(1,1,1,.5); */
    border-top: 1px solid rgba(100,100,100,.3);
    border-left: 1px solid rgba(100,100,100,.3);
    border-right: 1px solid rgba(100,100,100,.3);
    padding: 15px 25px;
    justify-content: center;
    align-items: flex-start;
}

.bulletin-title {
    font-size: 34px;
    letter-spacing: .5px;
    word-spacing: 1px;
    padding-bottom: 7px;
}

.bulletin-author {
    font-size: 16px;
}

.bulletin-text-bottom {
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid rgba(100,100,100,.3);
    border-left: 1px solid rgba(100,100,100,.3);
    border-right: 1px solid rgba(100,100,100,.3);
    padding: 15px 25px;
    justify-content: center;
    align-items: flex-start;
}

.see-past-bulletin {
    padding-top: 14px;
    padding-right: 3px;
    text-align: right;
    font-size: 12px;
    text-decoration: underline;
}

.see-past-bulletin a {
    transition: .4s;
}

/* 3. **************     WEEKLY  EVENTS     ****************** */
/* *********************************************************** */

.weekly-events {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 60px 70px 80px 80px;
}

.weekly-superman {
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 0);
}

.weekly-events-section {
    justify-content: space-between;
    align-items: flex-start;
}

.weekly-events-description {
    max-width: 40%;
    width: 100%;
    text-align: center;
}

.weekly-events-description p {
    margin-bottom: 35px;
}

.weekly-events-facebook {
    display: inline-block;
    margin: 0 auto;
}

.weekly-events-facebook-text {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: red;
    padding: 10px 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: .4s;
}

.weekly-events-list-contaniner {
    position: relative;
    max-width: 57%;
}

.weekly-events-list {
    width: 100%;
}

.weekly-events-single {
    width: 100%;
    padding: 0 50px;
}

.weekly-events-single-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: grey;
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.events-wednesday-img {
    background-image: url("../images/commander.jpg");
}

.events-thursday-img {
    background-image: url("../images/animar.jpg");
}

.events-friday-img {
    background-image: url("../images/fnm.jpg");
}

.events-saturday-img {
    background-image: url("../images/sat.jpg");
}

.weekly-events-single-description {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 200px;
    background-color: rgb(240,240,240);
    border-radius: 0 0 5px 5px;
    padding: 18px 25px;
    justify-content: space-between;
}

.weekly-events-saturday-description {
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: rgb(240,240,240);
    border-radius: 0 0 5px 5px;
    padding: 18px 25px;
    justify-content: space-between;
    align-items: flex-start;
}

.weekly-events-single-description h3 {
    text-shadow: 1px 1px rgb(246, 246, 246);
    letter-spacing: 1px;
}

.weekly-events-img-date {
    position: absolute;
    bottom: 12px;
    left: 25px;
    font-size: 36px; 
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}

.weekly-event-ul {
    letter-spacing: .5px;
    line-height: 26px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif
}

.slick-dots li button::before {
    font-size: 18px !important;
}

.events-button {
    position: absolute;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    top: 50%;
    cursor: pointer;
    z-index: 1001;
    transform: translate(0, -50%);
}

.events-prev {
    left: 0;
}

.events-next {
    right: 0;
}

.fa-caret-right, .fa-caret-left {
    color: red;
}

.saturday-left {
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 15px;
}

.saturday-right {
    align-items: flex-end;
    text-align: right;
    padding-left: 15px;
}

.saturday-right-desktop {
    display: block;
}

.saturday-right-mobile {
    display: none;
}

/* 4. ***************       NEW RELEASES       ****************** */
/* *********************************************************** */

.new-releases {
    position: relative;
    width: 100%;
    background-color: rgb(240,240,240);
    padding: 60px 80px 40px 80px;
}

.new-releases-mobile {
    display: none;
}

.new-releases-desktop {
    display: block;
}

.new-releases-hidden-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    color: rgb(240,240,240);
}


/* 4. ***************       TABLE GAMES       ****************** */
/* *********************************************************** */

.table-games {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 60px 40px 80px 40px;
}

.table-games-container {
    width: 100%;
}

.table-games-box {
    width: 50%;
    justify-content: space-evenly;
}

.table-games-item {
    text-align: center;
    width: 50%;
    margin-bottom: 0px
}

.tg-item-icon {
    width: 100%;
    padding-bottom: 24px;
}

.tg-item-title {
    width: 100%;
    padding: 0 5px 24px 5px;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: .5px;
    word-spacing: 1px;
    color: red;
    text-shadow: 1px 1px rgb(160, 0, 0);
}

.tg-item-title span {
    padding-bottom: 3px;
}

.tg-title-underline {
    height: 3px;
    background-color: red;
    width: 75px;
    box-shadow: 1px 1px rgb(160, 0, 0);
}

.tg-item-list {
    width: 100%;
    padding: 0 10%;
}

.tg-item-list ul {
    list-style-type: none;
    line-height: 18px;
    font-size: 14px;
}

.tg-item-list ul li {
    margin-bottom: 10px;
}

.tg-item-list ul li:last-of-type {
    margin-bottom: 0px;
}

.table-games-peice {
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 0);
}


/* 4. ***************       CONTACT       ****************** */
/* *********************************************************** */

.contact {
    position: relative;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 60px 80px;
}

.contact-info {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.contact-numbers {
    
}

.contact-numbers-list {
    font-size: 28px;
}

.contact-numbers-list li {
    padding: 0 20px;
    text-shadow: 0.5px 0.5px rgb(160, 0, 0);
    color: red;
}

.contact-section {
    justify-content: space-between;
    align-items: flex-start;
}

.map-container {
    width: 48%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 5px 15px rgba(39, 39, 39, .15);
    overflow: hidden;
    border-radius: 5px;
}

.mapouter {
    flex: 1;
    width: 100%;
    height: 400px;
    position: relative;
    text-align: left;
}

.gmap_canvas {
    width: 100%;
    height: 400px;
    position: relative;
    background: none !important;
    overflow: hidden;
}

.iframe-width {
    width: 100%;
    height: 400px;
}

.contact-form-container {
    width: 48%;
    height: 400px;
    background-color: #fff;

}

/* X. ***************       FOOTER       ****************** */
/* *********************************************************** */

.footer-class {
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    background-color: #3a3a3a;
    padding: 40px 80px 50px 80px;
    color: #fff;
}

.footer-console {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    opacity: 1;
    transition: .7s ease-in-out;
}

.footer-text-section {
    min-height: 69px;
    justify-content: flex-start;
}

.footer-text {
    font-size: 20px;
    text-shadow: 1px 1px #181818;
}

.footer-about-bb {
    font-size: 11px; 
    padding-top: 6px;
    max-width: 420px;
    padding-right: 50px;
    line-height: 12px;
}

.footer-logo {
    align-items: flex-start;
}

.footer-bb-logo {
    width: 70px;
    margin-left: 8px;
}

.footer-fb-logo {
    position: absolute;
    width: 8px;
    top: 5px;
    right: 18px;
}

.footer-contact {
    align-items: flex-end;
}

.footer-phone {
    white-space: nowrap;
    padding: 8px 18px;
    background-color: red;
    border-radius: 3px;
    font-weight: 600;
    border-bottom: 2px solid rgb(160,0,0);
    border-right: 2px solid rgb(160,0,0);
}

.footer-facebook {
    position: relative;
    margin-top: 8px;
    width: 112px;
    height: 30px;
    border-radius: 3px;
    font-weight: 600;
    background-color: red;
    border-bottom: 2px solid rgb(160,0,0);
    border-right: 2px solid rgb(160,0,0);
}


/* X. ***************       CONSOLE       ****************** */
/* *********************************************************** */

.console-container {
    position: fixed;
    max-width: 576px;
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border-radius: 4px 4px 0 0;
    background-color: red;
    box-shadow: 0 0 10px rgba(100,100,100,.3);
    font-family: console;
    transition: .7s;
    z-index: 1002;
}

.console-form {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.console-form :focus {
    outline: none;
    outline-width: 0;
}

.console-form ::placeholder {
    color: rgb(46, 230, 0);
    opacity: .5;
}

.console-text {
    height: 100%;
    width: 86.5%;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
    color: rgb(46, 230, 0);
    background-color: rgb(39, 39, 39);
    border-color: #676767;
}

.console-button {
    height: 100%;
    width: 12%;
    background-color: rgb(160,0,0);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 2px;
    border-color: rgb(160,0,0);
}

.console-side-box {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 22px;
}

.console-side-box-left {
    left: -30px;
}

.console-side-box-right {
    right: -30px;
}

.console-side-box-left img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.console-padding {
    position: relative;
    width: 100%;
    height: 0;
    transition: .7s;
    background-color: #3a3a3a;
}

/* Y. ***************       OVERRIDES       ****************** */
/* *********************************************************** */

.hider {
    display: none;
}

.slick-prev, .slick-next {
    display: none !important;
}

.fas {
    transition: .4s !important;
}

.dmdNewReleasesWidgetPBPW {
    display: none !important;
}

.dmdNewReleasesWidget {
    padding: 0 !important;
}

.dmdNewReleasesWidget h2 {
    font-weight: 500;
    font-size: 28px !important;
    text-shadow: .5px .5px rgb(160, 0, 0);
}

.dmdNewReleasesWidgetWeekSelection {
    padding-bottom: 15px !important;
    font-size: 15px !important;
}

.dmdNewReleasesWidgetWeekSelection a {
    text-decoration: underline;
    transition: .4s;
}

.dmdNewReleasesWidgetPager {
    padding-top: 30px !important;
    padding-bottom: 40px !important;
    margin: 0 !important;
}

.dmdNewReleasesWidgetPager a {
    margin: 0 5px !important;
    font-size: 12px !important;
    padding: 6px 14px !important;
    border-radius: 100px !important;
}

.dmdNewReleasesWidgetTitle {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    padding: 0 5px 5px 5px;
    text-overflow: ellipsis;
    color: #ff0000;
    white-space: nowrap;
    overflow: hidden;
}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
    /* HOVER EFFECTS */
    .nav li:hover {
        text-shadow: 1px 4px rgb(160, 0, 0);
        transform: translate(0, -3px);
    }

    .header-bb-logo:hover > img {
        transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }

    .events-button:hover .fas {
        color: rgb(160,0,0);
    }

    .weekly-events-facebook:hover .weekly-events-facebook-text {
        background-color: rgb(160, 0, 0);
    }

    .dmdNewReleasesWidgetWeekSelection a:hover {
        color: red;
    }

    .dmdNewReleasesWidgetPager a:hover {
        background-color: rgb(160, 0, 0);
    }

    .see-past-bulletin a:hover {
        color: red;
    }

    .footer-console:hover {
        bottom: -5px;
    }
}

@media only screen and (max-width: 1440px) { 
    /* L QUERIES */
    header {
        width: 100%;
    }
}

@media only screen and (max-width: 990px) { 
    /* M QUERIES */
    .table-games-container {
        flex-direction: column;
    }

    .table-games-box {
        width: 100%;
    }
    
    .table-games-item {
        margin-bottom: 40px
    }

    .weekly-events-saturday-description {
        flex-direction: column;
    }

    .saturday-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .saturday-right {
        width: 100%;
    }
    
    .saturday-right-desktop {
        display: none;
    }

    .saturday-right-mobile {
        display: block;
    }
}

@media only screen and (max-width: 768px) { 
    /* S QUERIES */
    /* Hamburger start */
    .new-releases-mobile {
        display: block;
    }
    
    .new-releases-desktop {
        display: none;
    }

    .new-releases {
        padding: 60px 40px 40px 40px;
    }

    .weekly-events {
        padding: 60px 40px 80px 40px;
    }

    .weekly-events-section {
        flex-direction: column;
    }

    .weekly-events-description {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .weekly-events-description p {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .weekly-events-list-contaniner {
        max-width: 100%;
    }

    .weekly-events-facebook p {
        width: 80%;
        font-size: 12px;
        color: #fff;
        background-color: red;
        padding: 6px 25px;
        border-radius: 100px;
        cursor: pointer;
        transition: .4s;
    }

    .weekly-events-facebook {
        display: block;
        width: 80%;
    }

    .bulletin {
        padding: 60px;
    }

    .bulletin-section {
        flex-direction: column;
    }

    .bulletin-img-box {
        width: 100%;
        padding-bottom: 50%;
        margin-bottom: 20px;
    }

    .bulletin-text-box {
        width: 100%;
    }

    .nav-hider {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* NAV SHRINK */

    .header-hi-bar {
        height: 50px;
    }

    .header-low-bar {
        height: 10px;
    }

    .hamburger {
        padding: 5px;
    }

    .header-bb-logo{
        padding: 0px 15px;
    }

    .header-bb-logo img {
        height: 40px;
    }

    .header-bb-title {
        font-size: 15px;
    }

    .ham-img {
        width: 40px;
    }

    .hero {
        margin-top: 60px;
    }

    .header-preloader-bar {
        height: 50px;
    }

    .header-preloader-logo {
        padding: 0 15px;
    }
    
    .header-preloader-logo img {
        height: 40px;
    }
    
}


@media only screen and (max-width: 650px) { 
    .table-games-box {
        flex-direction: column;
    }

    .table-games-item {
        width: 100%;
    }
}


@media only screen and (max-width: 576px) { 
    /* XS QUERIES */

    .weekly-events-single {
        padding: 0 10px;
    }

    .events-next {
        right: -35px;
    }

    .events-prev {
        left: -35px;
    }

    .weekly-events-facebook {
        width: 100%;
    }

    .weekly-events-description {
        max-width: 100%
    }

    .weekly-events-description p {
        max-width: 100%
    }

    .weekly-events {
        padding: 40px 40px 70px 40px;
    }

    .new-releases {
        padding: 40px 40px 20px 40px;
    }

    .bulletin {
        padding: 40px 30px 30px 30px;
    }

    .bulletin-text-bottom {
        font-size: 14px;
        line-height: 20px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .table-games {
        padding: 40px 30px 50px 30px
    }

    .tg-item-list {
        padding: 0;
    }

    .tg-item-title {
        padding: 0 0 24px 0;
    }

    .contact {
        padding: 40px 30px 30px 30px;
    }

    .console-text {
        padding: 0 10px;
    }

    .console-container {
        border-radius: 0;
    }

    .footer-class {
        padding: 34px 30px 40px 30px;
    }

    .footer-about-bb {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 475px) {
    .footer-class {
        flex-direction: column;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-about-bb {
        padding-right: 0;
        padding-bottom: 24px;
        padding-top: 8px;
    }

    .footer-contact {
        width: 100%;
    }

    .footer-contact a {
        width: 100%;
    }

    .footer-facebook {
        width: 100%;
        justify-content: flex-start;
        padding: 0 0 0 17px;
    }

    .footer-fb-logo {
        left: 84px;
        right: auto;
    }
}

